body {
  --sticky-video-width: 416px;
  --sticky-video-height: 230px;
}

@media screen and (min-width: 680px) {
  #player.player-sticky #player-api,
  #player.player-sticky .html5-video-player {
    position: fixed;
    top: 65px;
    right: 107px;
    left: auto;
    width: var(--sticky-video-width);
    height: var(--sticky-video-height);
    z-index: 2000;
    margin: 0;
  }

  #player.player-sticky .video-stream {
    width: var(--sticky-video-width)!important;
    height: var(--sticky-video-height)!important;
  }

  .player-sticky .ytp-chrome-bottom {
    width: 392px!important;
    left: 12px!important;
  }

  /* Ads */
  .player-sticky .adDisplay .image-container {
    width: 100%!important;
    height: auto!important;
  }

  .player-sticky .adDisplay .image-container img {
    max-width: 100%;
    height: auto;
  }

  .player-sticky .ad-container {
    width: 100%!important;
    height: 100%!important;
  }

  /* Autoplay */
  .player-sticky .ytp-upnext-bottom {
    width: auto;
    top: 10%;
    margin-top: 52px;
    left: 20px;
  }

  /* Hide annotations */
  .player-sticky .video-annotations {
    opacity: 0;
    visibility: hidden;
  }
}
