@media screen and (min-width: 680px) {
  #player.player-sticky #player-api {
    position: fixed;
    top: 65px;
    right: 107px;
    left: auto;
    width: 416px;
    height: 230px;
    margin: 0;
  }

  .video-stream {
    width: 100%!important;
    height: auto!important;
  }

  .player-sticky .video-stream {
    width: 100%!important;
    height: auto!important;
    left: 0!important;
  }

  .player-sticky .ytp-chrome-bottom {
    width: 392px!important;
    left: 12px!important;
  }

  /* Ads */
  .player-sticky .adDisplay .image-container {
    width: 100%!important;
    height: auto!important;
  }

  .player-sticky .adDisplay .image-container img {
    max-width: 100%;
    height: auto;
  }

  .player-sticky .ad-container {
    width: 100%!important;
    height: 100%!important;
  }

  /* Autoplay */
  .player-sticky .ytp-upnext-bottom {
    width: auto;
    top: 10%;
    margin-top: 52px;
    left: 20px;
  }

  /* Annotations */
  .player-sticky .video-annotations {
    opacity: 0;
  }

  /* todo: Fix progress bar */
  .player-sticky .ytp-progress-bar-container {
    /*display: none;*/
  }
}

/* Controls */
.player-sticky-controls {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 10;

  display: inline-block;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;

  transition: opacity .1s cubic-bezier(0.4, 0.0, 1, 1), visibility .1s cubic-bezier(0.4, 0.0, 1, 1);
}

.ytp-autohide .player-sticky-controls {
  opacity: 0;
}

.player-sticky-controls svg {
  display: block;
  width: 20px;
  height: 20px;
}

.player-sticky-controls path {
  fill: rgba(255, 255, 255, 0.7);
}

.player-sticky:hover .player-sticky-controls {
  opacity: 1;
  visibility: visible;
}
